{% extends 'OCCoreBundle::layout.html.twig' %}

{% block body %}

    <h1>Page d'accueil de notre site</h1>
    <div class="row">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-info">
                Message flash : {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock %}